* {
    background:                     #1e2029FF;
    background-alt:                 #282a36ff;
    foreground:                     #f8f8f2ff;
    border:               			#bd93f9ff;
    border-alt:               		#F3B69Eff;
    selected:               		#B381841a;
    urgent:                         #ff5555FF;
}
